:root {
    --main-color: #0099e5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Righteous", sans-serif;
    scroll-behavior: smooth;
    height: 3000px;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* Start Setting Box */
.setting-box {
    font-family: "Ubuntu";
    position: fixed;
    z-index: 100;
    min-height: 100vh;
    left: -200px;
    width: 200px;
    top: 55px;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: var(--main-color);
    transition: 0.3s;
    border-radius: 6px;
}

.setting-box .toggle-setting {
    position: absolute;
    top: 15px;
    right: -37px;
    width: 37px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    padding: 8px 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    cursor: pointer;
    /* border-right: none;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color); */
}

.setting-box i {
    font-size: 25px;
    color: var(--main-color);
}

/* .setting-box .setting-container {
} */

.open {
    left: 0;
}

.setting-box .option-color {
    padding: 0;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 60px;
}

.setting-box .option-color .color-name {
    text-align: center;
    margin: 0 auto;
    padding: 5px 0 4px 0;
    color: #333;
}

.setting-box .option-color .color-name span:first-child {
    color: #0099e5;
}

.setting-box .option-color .color-name span:nth-child(2) {
    color: #e91e63;
}

.setting-box .option-color .color-name span:nth-child(3) {
    color: #ff9800;
}

.setting-box .option-color .color-name span:nth-child(4) {
    color: #00bcd4;
}

.setting-box .option-color .color-name span:nth-child(5) {
    color: #4caf50;
}

.setting-container .option-color .color-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.setting-container .option-color .color-list li {
    width: 23px;
    height: 23px;
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.3;
    margin-right: 7px;
    margin-bottom: 5px;
    border: 2px solid white;
    transition: 0.3s;
    /* outline: 1px solid gray; */
}

.setting-container .option-color .color-list li.active {
    opacity: 1;
    outline: 1px solid var(--main-color);
}

.setting-container .option-color .color-list li:first-child {
    background-color: #0099e5;
    /* outline: 1px solid #0099e5; */
}

.setting-container .option-color .color-list li:nth-child(2) {
    background-color: #e91e63;
    /* outline: 1px solid #E91E63; */
}

.setting-container .option-color .color-list li:nth-child(3) {
    background-color: #ff9800;
    /* outline: 1px solid #FF9800; */
}

.setting-container .option-color .color-list li:nth-child(4) {
    background-color: #00bcd4;
    /* outline: 1px solid #00BCD4; */
}

.setting-container .option-color .color-list li:nth-child(5) {
    background-color: #4caf50;
    /* outline: 1px solid #4CAF50; */
}

/* End Setting Box */

/* Start Option Img */
.setting-box .option-img {
    padding: 0;
    background-color: white;
    text-align: center;
    height: 60px;
}

.setting-box .option-img .bg-name {
    font-size: 14px;
    padding-top: 7px;
    margin: 8px 0 4px;
    background-image: linear-gradient(to right, var(--main-color));
}

.setting-box .option-img .bg-random-img {
    font-size: 13px;
    padding: 5px;
}

.setting-box .option-img .bg-random-img span {
    background-color: var(--main-color);
    padding: 2px 10px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.3;
    border: 2px solid white;
    transition: 0.3s;
}

.setting-box .option-img .bg-random-img span.active {
    opacity: 1;
    /* outline: 1px solid var(--main-color); */
}

/* End Option Img */

/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background-image: url(images/landing-02.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.landing-page .overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 0.75);
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.landing-page .header {
    position: relative;
    z-index: 2;
    padding: 30px 0 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 40px;
}

.header .logo {
    /* font-weight: bold; */
    font-size: 22px;
    transition: 0.3s;
    font-family: "Righteous";
}

.header .logo::first-letter {
    color: var(--main-color);
    font-size: 30px;
}

.header .logo:hover {
    scale: 1.05;
    color: var(--main-color);
}

.header .links {
    list-style: none;
    display: flex;
}

.header .links li {
    font-size: 15px;
    margin-left: 5px;
    font-family: "cairo";
    font-weight: bold;
}

.header .links li a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    padding: 5px 10px;
    transition: 0.3s;
}

.header .links li a:hover,
.header .links li a.active {
    color: var(--main-color);
}

.header .links li a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-bottom-color: white;
    border-bottom-width: 0;
    border-bottom-style: solid;
    transition: 0.4s;
    /* transition-delay: .2s; */
    /* box-shadow: 0px 0px 5px 0px #d6d6d6; */
}

.header .links li a:hover::before {
    border-bottom-width: 1px;
    width: 100%;
}

.header .links li a::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    width: 100%;
    height: 0;
    border-right-color: white;
    border-right-width: 0;
    border-right-style: solid;
    transition: 0.4s;
}

.header .links li a:hover::after {
    border-right-width: 1px;
    height: 90%;
}

.landing-page .intro {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 70%;
}

.landing-page .intro h1 {
    margin: 0 0 15px;
    font-size: 40px;
}

.landing-page .intro h1 span {
    color: var(--main-color);
    font-weight: bold;
    font-family: "Righteous";
}

.landing-page .intro p {
    line-height: 2;
    font-size: 18px;
    width: 70%;
    margin: auto;
    font-family: "open Sans";
}

/* End Landing Page */

/* Start About Us */
.container .about-us {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}

.container .about-us .info-box {
    flex: 1;
    padding: 15px;
}

.container .about-us .info-box h2 {
    color: var(--main-color);
    font-size: 40px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
}

.container .about-us .info-box p {
    line-height: 1.8;
    font-family: "cairo";
    color: #6e6c6c;
    margin: 0;
}

.container .about-us .image-box {
    width: 40%;
    text-align: center;
}

.container .about-us .image-box img {
    width: 260px;
}

/* End About Us */

/* Start Skills */
.skills {
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills h2 {
    color: var(--main-color);
    font-size: 40px;
    margin: 0 0 30px;
    font-weight: bold;
    text-align: center;
}

.skills .skill-box {
    display: flex;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    font-family: "cairo";
    font-weight: bold;
    position: relative;
    justify-content: flex-start;
}

.skills .skill-box .skill-name {
    width: 140px;
    text-align: center;
    line-height: 30px;
}

.skills .skill-box .skill-progress {
    background-color: #f6f6f6;
    width: calc(100% - 150px);
    height: 30px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.skills .skill-box .skill-progress span {
    background-color: var(--main-color);
    transition: 1s;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}

/* End Skills */

/* ################################################## */

/* Start Galley */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery h2 {
    color: var(--main-color);
    font-size: 40px;
    margin: 0 0 30px;
    font-weight: bold;
    text-align: center;
}

.gallery .images-box {
    text-align: center;
    position: relative;

}

.gallery .images-box img {
    border-radius: 6px;
    width: 200px;
    padding: 3px;
    margin: 5px;
    border: 1px solid #eee;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: 0.3s;
}

.gallery .images-box img:hover {
    transform: scale(1.05);
}

.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
}

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    transition: 0.4s;
}

.popup-box h4 {
    font-weight: bolder;
    color: var(--main-color);
    margin: 2px 0 15px;
    text-align: center;
    font-size: 22px;
    font-family: "open Sans";
}

.popup-box img {
    max-width: 500px;
}

.popup-box .close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: var(--main-color);
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}

/* End Galley */
/* ############################################################# */
/* Start TimeLine*/
.timeline {
    background-color: #f1f1f2;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'open Sans';
}

.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}

.timeline .timeline-content:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    top: 0;
    left: 50%;
    margin-left: -1px;
    z-index: 2;
}

.timeline .timeline-content .year {
    background-color: var(--main-color);
    width: 50px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 20px auto;
    z-index: 3;
    position: relative;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    margin: 20px auto;
    position: relative;
    width: calc(50% - 30px);
    margin-bottom: 20px;
}

.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .right {
    float: right;
}


.timeline .timeline-content .content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 3;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    transition: .3s;
}

.timeline .timeline-content .content:hover {
    box-shadow: inset 0px 0px 3px 0px var(--main-color);
}

.timeline .timeline-content .left::after,
.timeline .timeline-content .right::after {
    content: "";
    position: absolute;
    width: 0;
    transition: .4s;
    top: 25px;
    border-width: 10px;
    border-style: solid;
    z-index: 1;
}

.timeline .timeline-content .left::after {
    right: -20px;
    border-color: transparent transparent transparent var(--main-color);
}

.timeline .timeline-content .right::after {
    left: -20px;
    border-color: transparent var(--main-color) transparent transparent;
}

.timeline .timeline-content .left .content::after,
.timeline .timeline-content .right .content::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    transition: .4s;
    top: 22px;
    border: 3px solid var(--main-color);
    z-index: 3;
}

.timeline .timeline-content .left .content::after {
    right: -42px;
}

.timeline .timeline-content .right .content::after {
    left: -42px;
}

.timeline .timeline-content .left .content h3,
.timeline .timeline-content .right .content h3 {
    text-align: center;
    color: var(--main-color);
    font-family: 'ubuntu';
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 0;
}

.timeline .timeline-content .left .content p,
.timeline .timeline-content .right .content p {
    line-height: 1.6;
    font-size: 14px;
    color: #222;
    margin: 0;
}

.cleatfix {
    clear: both;
}

/* End TimeLine*/
/* ################################################## */


/* Start Features */
.features {
    padding-top: 50px;
    padding-bottom: 50px;

}

.features h2 {
    color: var(--main-color);
    font-size: 40px;
    margin: 0 0 20px;
    font-weight: bold;
    text-align: center;
}

.features .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 20px; */
    align-items: center;
    font-family: 'open Sans';
    ;

}

.features .feat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 40px) / 3);
    margin: 40px auto;
}

.features .feat-box img {
    width: 100px;
    transition: .4s;
}

.features .feat-box:hover img {
    transform: scale(1.1);
}

.features .feat-box h4 {
    margin: 25px;
    position: relative;
}

.features .feat-box h4::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: .4s;
}

.features .feat-box:hover h4::before {
    width: 50px;
}

.features .feat-box p {
    font-size: 14px;
    margin: 0;
    width: 90%;
    text-align: center;
    line-height: 1.6;
}